//utilities.scss
.space{
    @media (min-width:64rem) {
      
      margin: 0px 20px 0px 40px;
    }
    
     } 
    
     .margfa{
      @media (min-width:64rem) {
        
        margin:10px;
      }
      }
    .marginfa{
      @media (min-width:64rem) {
        
        margin: 0px 10px 0px 10px;
      }
      }