
  //animation jump
  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(0.5rem);
    }
    75% {
      transform: translateY(-0.5rem);
    }
    100% {
      transform: translateY(0);
    }

    }
  