//_mixins.scss
@mixin button($type) {
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: white;
    

    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));    color: #fff;
    background-color: #686868;
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  
    &:hover {
      background-color: white;
      box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
    }
  
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  
 
  .container {
    max-width: 1280px;
    margin: auto;
    position: relative;
  }